<mat-toolbar>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input [(ngModel)]="searchString" matInput/>
  </mat-form-field>
</mat-toolbar>
<table
  [dataSource]="books"
  class="mat-elevation-z8"
  mat-table
  multiTemplateDataRows
>
  <ng-container
    *ngFor="let column of columnsToDisplay"
    matColumnDef="{{ column }}"
  >
    <th *matHeaderCellDef mat-header-cell>{{ column }}</th>
    <td *matCellDef="let element" mat-cell>{{ element[column] }}</td>
  </ng-container>

  <ng-container matColumnDef="expandedContent">
    <td
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length"
      mat-cell
    >
      <div
        [@detailExpand]="element == selectedBook ? 'expanded' : 'collapsed'"
        class="example-element-detail"
      >
        <book-content [book]="element"></book-content>
      </div>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
  <tr
    (click)="selectedBook = selectedBook === element ? undefined : element"
    *matRowDef="let element; columns: columnsToDisplay"
    [class.example-expanded-row]="selectedBook === element"
    class="example-element-row"
    mat-row
  ></tr>
  <tr
    *matRowDef="let row; columns: ['expandedContent']"
    class="example-detail-row"
    mat-row
  ></tr>
</table>
