<mat-toolbar>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchString">
  </mat-form-field>
</mat-toolbar>
<table mat-table [dataSource]="books" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedContent">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == selectedBook ? 'expanded' : 'collapsed'">
        <book-content [book]="element"></book-content>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="selectedBook === element"
      (click)="selectedBook = selectedBook === element ? undefined : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedContent']" class="example-detail-row"></tr>
</table>
