name: CI
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: yarn install
        run: |
          yarn install --frozen-lockfile

      - uses: mansagroup/nrwl-nx-action@v2
        with:
          targets: build,test
